<p>about works!</p>
<form [formGroup]="form">
    <div class="form-group">
        <label for="searchBox1">Search Box 1</label>
        <input type="text" class="form-control" id="searchBox1" name="searchBox1" 
                    formControlName="searchBox" placeholder="Search Box 1" (change)="addText($event.target.value)">
      </div>
      <div class="form-group">
        <label for="searchBox2">Search Box 2</label>
        <input type="text" class="form-control" id="searchBox2" name="searchBox2" 
                formControlName="searchBox" placeholder="Search Box 2" (change)="addText($event.target.value)">
      </div>
     
</form>