<div [formGroup]="form">
    MobileNo: <input formControlName="mobileNo" type="number"/>
    <div *ngIf="mobileNo.controls.mobileNo.errors?.required" [hidden]="mobileNo.controls.mobileNo.pristine">
        <span style="color:red">  Error! MobileNo is required </span>
    </div>
    <div *ngIf="mobileNo.controls.mobileNo.warnings && mobileNo.controls.mobileNo.warnings.toMobileWarning" [hidden]="mobileNo.controls.mobileNo.pristine">
   <span style="color:orange"> Warning! Mobile No is greater then 10</span>
    </div>
  </div>