<form [formGroup]="form" (ngSubmit)="submit()">
    <label
      formArrayName="orders"
      *ngFor="let order of form.controls.orders.controls; let i = index"
    >
      <input type="checkbox" [formControlName]="i" />
      {{ordersData[i].name}}
    </label>
  
    <button>submit</button>
  </form>
  